<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" 
         version="5.0">
  
  <display-name>Kedai Kerepek Maksu Inventory System</display-name>

  <!-- Servlet definitions -->
  <servlet>
    <description></description>
    <display-name>CreateProductServlet</display-name>
    <servlet-name>CreateProductServlet</servlet-name>
    <servlet-class>com.controller.CreateProductServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CreateProductServlet</servlet-name>
    <url-pattern>/CreateProductServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>ViewProductServlet</display-name>
    <servlet-name>ViewProductServlet</servlet-name>
    <servlet-class>com.controller.ViewProductServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ViewProductServlet</servlet-name>
    <url-pattern>/ViewProductServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.controller.UpdateProductServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.controller.DeleteProductServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>

</web-app>